*{
    margin: 0%;
    padding: 0%;
}
.divdown {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 227px;
}

.main {
    width: 80%;
    margin: auto;
    color: #20484f;
}

.divup {
    display: flex;
    width: 100%;
    margin: 5rem 0rem 3rem 0rem;
}

.left {
    width: 500px;
}

.right {
    width: 600px;
    text-align: right;
}

.right button {
    width: 6rem;
    height: 2.5rem;
    background-color: #20484f;
    border: 0ch;
    border-radius: 0.5rem;
    color: white;
    margin-top: 1rem;
}

.main .divdown .box h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.main .divdown .box p {
  
    margin-top: 1rem;
}

