*{
    margin: 0%;
    padding: 0%;
}
.maindiv{
    width: 80%;
    margin: auto;
}
.maindiv {
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.leftdiv {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.box {
    width: 48%;

}

.iconbox {
    color: rgb(61, 59, 59);
    display: inline-block;
    padding: 0.5rem;
    background-color: #dcf2ed;
    border-radius: 0.5rem;
}

.rightdiv img {
    width: 30rem;
    height: 25rem;
    align-content: center;
    margin-top: 5rem;
    border-radius: 10rem 11rem 12rem 11rem;
    object-fit: cover;
}